<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card ">
          <div class="header">
            <h4 class="title">Desarrollado por el Departamento de Base de Datos y Desarrollo</h4>
            <p class="category">Sistema de Obras Munipales</p>
          </div>
          <div class="content">
            <div class="row">
              <div class="col-md-12">
                <ul>
                  <li>Henry Severich - hseverich@gmsantacruz.gob.bo</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
