<div class="logo">
    <a href="" class="simple-text logo-mini">
        <div class="logo-img">
            <img src="../../../assets/img/angular2-logo-white.png" />
        </div>
    </a>
    <a href=" " class="simple-text logo-normal">
     Farmacia
    </a>
</div>
<div class="sidebar-wrapper">
    <div class="user">
        <div class="info">
            <div class="photo">
                <img src="../../../assets/img/new_logo.png" />
            </div>
            <a data-toggle="collapse" href="#collapseExample" class="collapsed">
                <span>
          {{Nombre_}}
          <b class="caret"></b>
        </span>
            </a>
            <div class="collapse" id="collapseExample">
                <ul class="nav">
                    <li>
                        <!--<a [routerLink]="['/perfil']">-->
                        <a>
                            <span class="sidebar-mini">Tp</span>
                            <span class="sidebar-normal">{{Usuario_}}</span>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>

    <ul class="nav">
        <li routerLinkActive="active" *ngFor="let menuitem of menuItems">
            <!--If is a single link-->
            <a [routerLink]="[menuitem.path]" *ngIf="menuitem.type === 'link'">
                <i class="{{menuitem.icontype}}"></i>
                <p>{{menuitem.title}}</p>
            </a>
            <!--If it have a submenu-->
            <a data-toggle="collapse" href="#{{menuitem.title}}" *ngIf="menuitem.type === 'sub'">
                <i class="{{menuitem.icontype}}"></i>
                <p>{{menuitem.title}}<b class="caret"></b></p>
            </a>
            <!--Display the submenu items-->
            <div id="{{menuitem.title}}" class="collapse" *ngIf="menuitem.type === 'sub'">
                <ul class="nav">
                    <li routerLinkActive="active" *ngFor="let childitem of menuitem.children">
                        <a [routerLink]="[menuitem.path, childitem.path]">
                            <span class="sidebar-mini">{{childitem.ab}}</span>
                            <span class="sidebar-normal">{{childitem.title}}</span>
                        </a>
                    </li>
                </ul>
            </div>

        </li>
        <li class="nav-item ">
            <a class="nav-link" (click)='salir();'>
                <i class="fa fa-angle-right"></i>
                <p>Salir</p>
            </a>
        </li>

    </ul>
</div>