<!-- *****************************************.C O N T E N I D O.***************************************** -->

<style>
    .btn-file {
        position: relative;
        overflow: hidden;
    }
    
    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }
</style>




<div class="content">
    <div class="container-fluid">
        <!--Contenido-->

        <block-ui>
            <!-- Your app markup here -->
        </block-ui>
        <div class="row" style="padding-top:30px;">
            <!--
                FORMULARIO NUEVO
            -->
            <div class="col-md-8">
                <div class="card">

                    <div class="col-md-12">
                        <h4 class="title"> {{titulo}}</h4>
                    </div>

                    <div class="col-md-4 col-sm-12">
                        <div class="form-group">
                            <label>Nombre :</label>
                            <input type="text" placeholder="Nombre" [(ngModel)]="farmacia.nombre" class="form-control" name="Nombre">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="form-group">
                            <label>Razon_social :</label>
                            <input type="text" placeholder="Color" [(ngModel)]="farmacia.razon_social" class="form-control" name="Razon_social">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="form-group">
                            <label>Nit : </label>
                            <input type="text" placeholder="Nit" [(ngModel)]="farmacia.nit" class="form-control" name="Nit">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="form-group">
                            <label>Correo : </label>
                            <input type="text" placeholder="Correo" [(ngModel)]="farmacia.correo" class="form-control" name="Correo">

                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="form-group">
                            <label>Telefono : </label>
                            <input type="text" placeholder="Telefono" [(ngModel)]="farmacia.telefono" class="form-control" name="Telefono">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="form-group">
                            <label>Celular : </label>
                            <input type="text" placeholder="Celular" [(ngModel)]="farmacia.celular" class="form-control" name="Celular">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="form-group">
                            <label>Dirección : </label>
                            <input type="text" placeholder="Dirección" [(ngModel)]="farmacia.direccion" class="form-control" name="Direccion">
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-12">
                        <div class="form-group">
                            <label>Estado : </label>
                            <bSwitch [(ngModel)]="farmacia.activo"> </bSwitch>
                        </div>
                    </div>




                    <div class="col-md-12 col-sm-12">
                        <div class="content table-responsive table-full-width">

                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Nombre dia</th>
                                        <th>Hora inicio</th>
                                        <th>Hora final</th>
                                        <th>Activo</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let row of horarioLista; let i=index;  ">

                                        <td>
                                            <input type="text" disabled placeholder="Id" [(ngModel)]="row.id" class="form-control">
                                        </td>
                                        <td>
                                            <input type="text" disabled placeholder="Nombre Dia" [(ngModel)]="row.nombre_dia" class="form-control">
                                        </td>

                                        <td>
                                            <input type="text" placeholder="Hora de inicio" [(ngModel)]="row.hora_inicio" class="form-control">
                                        </td>
                                        <td>
                                            <input type="text" placeholder="Hora final" [(ngModel)]="row.hora_fin" class="form-control">
                                        </td>

                                        <td class="td-actions text-right">
                                            <bSwitch [(ngModel)]="row.activo">
                                            </bSwitch>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>

                    <input id="latitud" type="hidden" name="latitud" [(ngModel)]="farmacia.latitud">
                    <input id="longitud" type="hidden" name="longitud" [(ngModel)]="farmacia.longitud">

                    <div class="col-md-12 col-sm-12">
                        <label>Ubicacion de su Domicilio: </label>
                        <input id="pac-input" class="controls" type="text" placeholder="Search Box" class="form-control">
                        <div id="map" style="height: 550px;"></div>
                    </div>


                    <div class="footer">
                        <button class="btn btn-primary btn-fill" (click)='ActualizarFarmacia()' style="margin-right: 15px;">Actualizar</button>
                        <button type="button" class="btn btn-danger btn-fill" style="margin-right: 15px;" type="submit">Cancelar</button>

                    </div>

                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-user">
                    <div class="image">
                        <img src="{{url+farmacia.direccion_banner}}" alt="..." />
                    </div>
                    <div class="content">
                        <div class="author">
                            <a>
                                <img class="avatar border-gray" src="{{url+farmacia.direccion_logo}}" alt="..." />

                                <h4 class="title">{{farmacia.nombre}}<br />
                                    <small>{{farmacia.abierto_cerrado}}</small>
                                </h4>
                            </a>
                        </div>
                        <p class="description text-center"> {{farmacia.direccion}}
                        </p>
                    </div>
                    <hr>
                    <div class="text-center">
                        <button href="#" class="btn btn-simple"><i class="fa fa-facebook-square"></i></button>
                        <button class="btn btn-default btn btn-xs btn-fill " onclick="document.getElementById('fileImagenLogo').click();" style="margin-right: 15px;"><i class="fa fa-upload"></i>Logo<i *ngIf="loaderLogo" class="fa fa-refresh  fa-spin " ></i></button>
                        <button class="btn btn-primary btn btn-xs btn-fill " onclick="document.getElementById('fileImagenBanner').click();" style="margin-right: 15px;"><i class="fa fa-upload"></i>Banner<i  *ngIf="loaderBanner"class="fa fa-refresh  fa-spin " ></i></button>
                    </div>
                </div>
            </div>

            <div [hidden]="true">
                <input type="file" name="file" id="fileImagenLogo" (change)="subiendoLogo($event)" accept="image/*" />
                <input type="file" name="file" id="fileImagenBanner" (change)="subiendoBanner($event)" accept="image/*" />
            </div>
        </div>


    </div>