<!-- *****************************************.C O N T E N I D O.***************************************** -->




<div class="content">
    <div class="container-fluid">
        <!--Contenido-->

        <block-ui>
            <!-- Your app markup here -->
        </block-ui>
        <div class="row" style="padding-top:30px;">
            <!--
                FORMULARIO NUEVO
            -->
            <div class="col-md-12">
                <div class="card">

                    <div class="col-md-12">
                        <h4 class="title"> {{titulo}} ({{turno.fecha}}) <button type="button" class="btn btn-primary btn-fill" type="button" (click)="actualizar_farmacia_turno();">Actualizar</button></h4>
                    </div>

                    <div class="col-md-3 col-sm-12">
                        <div class="form-group">
                            <label>Nombre Dia :</label>
                            <input type="text" placeholder="Nombre dia" [(ngModel)]="turno.nombre_dia" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12">
                        <div class="form-group">
                            <label>Hora inicio :</label>
                            <input type="text" placeholder="Hora inicio" [(ngModel)]="turno.hora_inicio" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12">
                        <div class="form-group">
                            <label>Hora fin : </label>
                            <input type="text" placeholder="Hora fin" [(ngModel)]="turno.hora_fin" class="form-control">
                        </div>
                    </div>


                    <div class="col-md-3 col-sm-12">
                        <div class="form-group">
                            <label>Estado : </label>
                            <bSwitch [(ngModel)]="turno.activo"> </bSwitch>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-sm-12">
                <div class="card">
                    <div class="content">
                        <h4 class="title">Lista de Farmacias</h4>

                        <div class="fresh-datatables">
                            <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0 " width="100%;" style="width:100%;">
                                <thead>
                                    <tr>
                                        <th>Nro</th>
                                        <th>Logo</th>
                                        <th>Nombre</th>
                                        <th>Direccion</th>
                                        <th class="disabled-sorting ">Turno</th>
                                    </tr>
                                </thead>

                                <tbody>

                                    <tr *ngFor="let row of farmaciaLista; let i=index;">
                                        <td>{{row.id}}</td>
                                        <td>
                                            <div class="img-container">
                                                <img src="{{url+row.direccion_logo}}" style="width: 100px;" />
                                            </div>
                                        </td>
                                        <td>{{row.nombre}}</td>
                                        <td>{{row.direccion}}</td>
                                        <td class="  text-right">
                                            {{row.sw_turno}}
                                            <bSwitch [(ngModel)]="row.sw_turno">
                                            </bSwitch>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!--<pre>{{turno|json}}</pre> -->

                        <!--<pre>{{farmaciaLista|json}}</pre>-->
                    </div>

                </div>

            </div>







            <!--Fin Contenido-->
        </div>


    </div>
</div>